PORT=3030
PLAYWRIGHT_HEADLESS=true
OUTBOUND_PROXY=
PLAYWRIGHT_EXECUTABLE_PATH=
APP_SESSION_SECURE=false

MYSQL_HOST=192.168.100.186
MYSQL_PORT=3306
MYSQL_DATABASE=page_watch
MYSQL_USER=page_watch
MYSQL_PASSWORD=
